    // colors
    $primary:#FF00FF;
    $primary-90:rgba(255, 0, 255, 0.9);
    $primary-80:rgba(255, 0, 255, 0.8);
    $primary-70:rgba(255, 0, 255, 0.7);
    $primary-60:rgba(255, 0, 255, 0.6);
    $primary-50:rgba(255, 0, 255, 0.5);
    $primary-40:rgba(255, 0, 255, 0.4);
    $primary-30:rgba(255, 0, 255, 0.3);
    $primary-20:rgba(255, 0, 255, 0.2);
    $primary-10:rgba(255, 0, 255, 0.1);
    $secondary:#0000FF;
    $secondary-90:rgba(0, 0, 255, 0.9);
    $secondary-80:rgba(0, 0, 255, 0.8);
    $secondary-70:rgba(0, 0, 255, 0.7);
    $secondary-60:rgba(0, 0, 255, 0.6);
    $secondary-50:rgba(0, 0, 255, 0.5);
    $secondary-40:rgba(0, 0, 255, 0.4);
    $secondary-30:rgba(0, 0, 255, 0.3);
    $secondary-20:rgba(0, 0, 255, 0.2);
    $secondary-10:rgba(0, 0, 255, 0.1);

    $body:rgb(236, 236, 236);
    $black: #000;
    $black-90:rgba(0, 0, 0, 0.9);
    $black-80:rgba(0, 0, 0, 0.8);
    $black-70:rgba(0, 0, 0, 0.7);
    $black-60:rgba(0, 0, 0, 0.6);
    $black-50:rgba(0, 0, 0, 0.5);
    $black-40:rgba(0, 0, 0, 0.4);
    $black-30:rgba(0, 0, 0, 0.3);
    $black-20:rgba(0, 0, 0, 0.2);
    $black-10:rgba(0, 0, 0, 0.1);
    $white:#fff;
    $white-90:rgba(255, 255, 255, 0.9);
    $white-80:rgba(255, 255, 255, 0.8);
    $white-70:rgba(255, 255, 255, 0.7);
    $white-60:rgba(255, 255, 255, 0.6);
    $white-50:rgba(255, 255, 255, 0.5);
    $white-40:rgba(255, 255, 255, 0.4);
    $white-30:rgba(255, 255, 255, 0.34);
    $white-20:rgba(255, 255, 255, 0.2);
    $white-10:rgba(255, 255, 255, 0.1);
    $blue:#0000FF;
    $blue-90:rgba(0, 0, 255, 0.9);
    $blue-80:rgba(0, 0, 255, 0.8);
    $blue-70:rgba(0, 0, 255, 0.7);
    $blue-60:rgba(0, 0, 255, 0.6);
    $blue-50:rgba(0, 0, 255, 0.5);
    $blue-40:rgba(0, 0, 255, 0.4);
    $blue-30:rgba(0, 0, 255, 0.3);
    $blue-20:rgba(0, 0, 255, 0.2);
    $blue-10:rgba(0, 0, 255, 0.1);
    $magenta:#FF00FF;
    $magenta-90:rgba(255, 0, 255, 0.9);
    $magenta-80:rgba(255, 0, 255, 0.8);
    $magenta-70:rgba(255, 0, 255, 0.7);
    $magenta-60:rgba(255, 0, 255, 0.6);
    $magenta-50:rgba(255, 0, 255, 0.5);
    $magenta-40:rgba(255, 0, 255, 0.4);
    $magenta-30:rgba(255, 0, 255, 0.3);
    $magenta-20:rgba(255, 0, 255, 0.2);
    $magenta-10:rgba(255, 0, 255, 0.1);




    //Fonts
    $font-body: 'Raleway', sans-serif;
    $font-title: 'Charm', cursive;
        