
#destination{
    padding: 6rem 0;
   
    .destination-wrapper{
        @include grid(28rem, 2rem);
        grid-auto-rows: 1fr;    

        .single-desination{
            box-shadow: 0 0 2px rgba(255, 255, 255, 0.2), 0 0px 2px rgba(255, 255, 255, 0.2);
            padding: 1rem;
            border-radius: .5rem;
            background: $white;
            &:first-child,
            &:last-child{
                padding: 2.5rem;
                background: $body;
            }    
        }       
        .desti-title{
            span{
                font-size: 1.6rem;                
                text-transform: uppercase;
                color: $black-80;
            }
            h2{
                @include font(4.5rem, 700);
                font-family: $font-title;
                padding: 1rem 0;
                color: $primary-80;
            }
            p{
                font-size: 1.5rem;
                color: $black-80;
                margin-top: 1rem;
            }           
        }
        .img-box{          
            position: relative;
            height: 100%;
            z-index: 111;
            overflow: hidden;  
            &:hover {
                .overlay-content{
                    opacity: 1;
                }
                img{
                    transform: scale(1.2);
                }
            }
            img{
                min-height: 100%;
                object-fit: cover;
                transition: all 0.5s linear;  
            }
            .overlay-content{
                @include flex(column, wrap, end, center);
                position: absolute; 
                bottom: 0;
                left: 0;               
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                padding: 3rem 2rem;
                opacity:0;
                transition: all 0.5s ease; 
                cursor: pointer;   
                h3{
                    @include font(2.5rem, 500);
                    color: $white;
                }                             
            }
        }            
            
        .desti-cta{
            @include flex(column, wrap, center, center);
            height: 100%;
            text-align: center;
            padding: 2rem ;
            h3{
                @include font(2.2rem, 700);
                line-height: 1.2;               
                color: $black-80;
            }
            .desti-btn{
                @extend .btn-fill;
                margin-top: 2rem;
                
            }
        }    
    }
}
